/* CUSTOMIZE THE container-fluid
-------------------------------------------------- */
.container-fluid {
	width: 1024px;
	margin: 0 auto;
	padding-right: 0px;
	padding-left: 0px;
	
}

.container.search-bar .cont {
}

/* Carousel base class
-------------------------------------------------- */
.carousel {

 
}
.carouselbg{
  background-position: top center;
  background-repeat: repeat-x;
  text-align: center;
}
.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
   width: 697px;
   
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
  padding-top:10px;
  
}
#myCarousel .carousel img {
  min-width: 100%;

}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 40px;
  margin-bottom: 100px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.container.title{
 	color: #353535;
 	font-family:Arial,'Microsoft YaHei';
  	width: 100%;
  /*	background-color: #adcc75;
   	background-image: url("/courses/resources/img/default/secondTitleBg.png");
  	background-position: left top;
  	background-repeat: no-repeat;
  */
  	background-color:#3d4f65;

}
.container.title >table{
	width: 90%;
	margin-left: 38px;
}

.container.title .innerLeftTitle{
		font-size:16px;
	/*	color: #3f5517;*/
		color:#fff;
		font-weight:bold;
		letter-spacing:1px;
		padding: 0px 10px;
	/*	background-color: #fff;*/
		line-height: 35px;
		float: left;
		height: 37px;
}

.container.title .innerRightTitle a{
		font-size:12px;
		color:#fff;
		letter-spacing:1px;
		padding: 0px 10px;
		float: right;
		height: 37px;
		text-decoration: none;
}
.container.title .innerRightTitle a:hover{
		color:#7a8d9e;
}

.container.title .innerLeftTitle a{
	color: #fff;
	text-decoration: none;
}

.container.title .count{
	margin-right: 20px;
	font-weight: bold;
}

.container.marketing {
  width: 1024px;

}

.container.marketing .row {
  margin-left: 0px;
  /*background-image: url("/courses/resources/img/default/course_bg.png");*/
  background-position: top left;
  background-repeat: repeat-x;
  text-align: center;
  background-color: #edf1e2;
}
.container.marketing .row .span4 {
 width: 250px; 
 margin-left:70px;
 margin-top:30px;
 margin-bottom:20px;
  text-align: left;
}


.container.user-course
{
  width: 1024px;
  background-image: url("/courses/resources/img/default/course_bg.png");
  background-position: top center;
  background-repeat: repeat-x;
	
}
.container.user-course .row {
  margin-left: 60px;
  text-align: center;
}
.row .span2{
  margin:30px 30px;
  width:130px;
  height: 130px;
 
}
.row .span4 {
width: 310px;
margin: 20px 0px 20px 40px;
/*
-webkit-box-shadow: #999 0px 1px 2px 0px;
box-shadow: #999 0px 1px 2px 0px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #EEE;*/

}

.container.university {
  width: 1024px;
  max-width:1024px;
  margin-bottom: 0px;
}
.container.university .row {
  margin-left: 0px;
}
.container.university .row .span3{
  background-image: url(../img/ust/ust_logo_160x60.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
  -webkit-box-shadow: #999 0px 1px 2px 0px;
  box-shadow: #999 0px 1px 2px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEE;
  margin: 2px 2px;
}

.container.teacher {
  width: 100%;
}



.container.teacher .teacherInfo{
margin:0px auto;
  width: 95%;
}
.container.teacher .teacherInfo .span1{
  /*background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/avatar/avatar40.png);
  height: 80px;
  -webkit-box-shadow: #999 0px 1px 2px 0px;
  box-shadow: #999 0px 1px 2px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEE;
  margin: 2px 2px;
  margin-right: 24px;*/
  background-position: center;
  background-repeat: no-repeat;
  margin:30px 43px 20px 19px;
  width: 131px;
  height: 89px;
  text-align: center;
  padding: 2px;
  border: 1px solid #ccc;
}
.container.teacher .teacherInfo .span2{
  background-position: center;
  margin:5px 15px;
  width: 96px;
  height: 96px;
  /*background-color: #adcc75;*/
  /*background-color:#ccdfa8;*/
  text-align: center;
  padding: 2px;
  border: 1px solid #cccccc;
  float: left;
}

.container.teacher .teacherInfo .span3{
   margin:30px 10px;
  width:110px;
  height: 110px;
	text-align: center;
	padding: 3px;
	background-color: #fff;
	border: 1px solid #ccc;
	line-height: 20px;

}
.container.teacher .teacherInfo .span3 .photos{
   width: 108px; height:108px
}



 .selete_filter{
 	margin-top:20px;
	margin-left:60px;
	text-align: left;
}
.selete_filter >span{
	font-weight: bold;
	font-size: 15px;
	margin-left: 20px;
}


#myUniversity, #myTeacher {
  margin-bottom: 0px;
}

.view-all-teachers-link, .view-all-courses-link {
	display: block;
	text-align: center;
	margin-right: 35px;
	padding: 5px 5px;
	background: #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.a_color_green{
	color: #86a23b;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}

.a_color_ccc{
	color: #444;
	text-decoration: none;
}

.a_color_blue{
	color: #4a77bb;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

.title_color_green{
	color: #3f5517;
	text-decoration: none;
	font-size: 16px;
}

.title_color_white{
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}

.path_link{
	margin: 10px 10px 10px 70px;
	font-size: 13px;
	color: #335183;
	
}

.path_link a {
	color: #335183;
	text-decoration: none;
}

.path_link a:hover{
	color: #4a77bb;
	text-decoration: none;
}

 .centerline{
	background-image: url("<c:url value='/resources/img/default/centerline.png'></c:url>");
	background-position: center top;
	background-repeat: repeat-y;
}
	